body {
    margin: 0;
    padding: 0;
}

.background-container {
    background-image: url('https://jooinn.com/images/beauty-of-nature-24.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: peru;
}


h1 {
    font-size: 2em;
}

p {
    font-size: 2.2em;
}

    
    